/*grid*/
.grid {
    display: inline-block;
}

.grid table {
    table-layout: fixed;
    min-width: 300px;
    border-collapse: collapse;
    border: 1px solid;
}

.grid table > thead {
    background-color: black;
    color: white;
}

.grid table > caption{
    padding:10px;
}

.grid table > tbody > tr {
    border-bottom: 1px solid gray;
}

.grid table > tbody > tr > td {
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.grid table > tbody > tr > td.empty {
    min-height: 300px;
    text-align: center;
    vertical-align: middle;
}

.grid.marked table > tbody > tr > td:nth-child(1) {
    border-right: 1px solid;
}

.grid.marked table > thead > tr > th:nth-child(1) {
    border-right: 1px solid white;
}

.grid table > thead > tr > th {
    position: relative;
    text-align: center;
    padding: 8px 10px 8px 10px;
}

.grid table > thead > tr > th:hover {
    cursor: pointer;
}

.grid table > thead > tr > th.up-sort:after {
    content: '';
    position: absolute;
    display: block;
    border-top: 4px solid white;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    left: 50%;
    margin-left: -4px;
    bottom: 2px;
}

.grid table > thead > tr > th.down-sort:before {
    content: '';
    position: absolute;
    display: block;
    border-bottom: 4px solid white;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    left: 50%;
    margin-left: -4px;
    top: 2px;
}

.grid input[type="text"] {
    background-color: transparent;
    padding: 5px;
    border: none;
    /*border-bottom: solid 2px #c9c9c9;*/
    min-width: 0;
    transition: border 0.3s;
}

.grid input[type="text"]:focus {
    outline: none;
    /*border-bottom: solid 2px #969696;*/
}

.grid input[type="text"].error {
    outline: none;
    border: none;
    border-bottom: solid 2px red;
}

.grid > div {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: white;
}

.grid > div > button {

}

/*PagingGrid*/
.paging-grid {
    float: right;
}

.paging-grid > a.paging-up {
    margin: 0 2px 0 4px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid black;
    display: inline-block;
}

.paging-grid > a.paging-down {
    margin: 0 4px 0 2px;
    border-bottom: 7px solid transparent;
    border-left: 7px solid black;
    border-top: 7px solid transparent;
    display: inline-block;
}

.paging-grid > a.paging-up.disable {
    border-right-color: #a7a7a7;
    cursor: not-allowed;
}

.paging-grid > a.paging-down.disable {
    border-left-color: #a7a7a7;
    cursor: not-allowed;
}

.paging-grid > input[type="number"] {
    width: 40px;
    margin-right: 3px;
}

.paging-grid > input.error {
    border: 1px solid red;
}
